.navbar_menu a{
    color: #000;
    margin-left: 20px;
    font-size: 20px;
    text-decoration: none;
}
.user_img img{
    height: 35px;
    width: 35px;
    border-radius: 50%;
    margin: 0 10px;
}
.user_img{
    height: 35px;
    width: 35px;
    border-radius: 50%;
    margin: 0 10px;
}
.logo{
    width: 80px;
}
.brandname{
    font-size: 30px;
    text-decoration: none;
    color: darkblue;
    font-weight: bold;
    text-transform: uppercase;
}